MafiaBoardGame/TestApplication/Service References/ServiceReference2/GestionPartieImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionPartieImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50368/GestionPartieImpl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50368/GestionPartieImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50368/GestionPartieImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.Dto" />
      <xsd:import schemaLocation="http://localhost:50368/GestionPartieImpl.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionPartie_CreerPartie_InputMessage">
    <wsdl:part name="parameters" element="tns:CreerPartie" />
  </wsdl:message>
  <wsdl:message name="IGestionPartie_CreerPartie_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreerPartieResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionPartie_RejoindrePartie_InputMessage">
    <wsdl:part name="parameters" element="tns:RejoindrePartie" />
  </wsdl:message>
  <wsdl:message name="IGestionPartie_RejoindrePartie_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejoindrePartieResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionPartie_CommencerPartie_InputMessage">
    <wsdl:part name="parameters" element="tns:CommencerPartie" />
  </wsdl:message>
  <wsdl:message name="IGestionPartie_CommencerPartie_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommencerPartieResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionPartie_GetPartie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartie" />
  </wsdl:message>
  <wsdl:message name="IGestionPartie_GetPartie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartieResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionPartie_VoirPartie_InputMessage">
    <wsdl:part name="parameters" element="tns:VoirPartie" />
  </wsdl:message>
  <wsdl:message name="IGestionPartie_VoirPartie_OutputMessage">
    <wsdl:part name="parameters" element="tns:VoirPartieResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestionPartie">
    <wsdl:operation name="CreerPartie">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionPartie/CreerPartie" message="tns:IGestionPartie_CreerPartie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionPartie/CreerPartieResponse" message="tns:IGestionPartie_CreerPartie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejoindrePartie">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionPartie/RejoindrePartie" message="tns:IGestionPartie_RejoindrePartie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionPartie/RejoindrePartieResponse" message="tns:IGestionPartie_RejoindrePartie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommencerPartie">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionPartie/CommencerPartie" message="tns:IGestionPartie_CommencerPartie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionPartie/CommencerPartieResponse" message="tns:IGestionPartie_CommencerPartie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartie">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionPartie/GetPartie" message="tns:IGestionPartie_GetPartie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionPartie/GetPartieResponse" message="tns:IGestionPartie_GetPartie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VoirPartie">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionPartie/VoirPartie" message="tns:IGestionPartie_VoirPartie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionPartie/VoirPartieResponse" message="tns:IGestionPartie_VoirPartie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGestionPartie" type="tns:IGestionPartie">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreerPartie">
      <soap:operation soapAction="http://tempuri.org/IGestionPartie/CreerPartie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejoindrePartie">
      <soap:operation soapAction="http://tempuri.org/IGestionPartie/RejoindrePartie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommencerPartie">
      <soap:operation soapAction="http://tempuri.org/IGestionPartie/CommencerPartie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartie">
      <soap:operation soapAction="http://tempuri.org/IGestionPartie/GetPartie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoirPartie">
      <soap:operation soapAction="http://tempuri.org/IGestionPartie/VoirPartie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionPartieImpl">
    <wsdl:port name="BasicHttpBinding_IGestionPartie" binding="tns:BasicHttpBinding_IGestionPartie">
      <soap:address location="http://localhost:50368/GestionPartieImpl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>