MafiaBoardGame/TestApplication/Service References/ServiceReference2/GestionPartieImpl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreerPartie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomPartie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nomJoueur" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerPartieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreerPartieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejoindrePartie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pseudo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejoindrePartieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejoindrePartieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommencerPartie">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CommencerPartieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CommencerPartieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>