MafiaBoardGame/UI/Service References/UCCPartieRef/GestionPartieImpl2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JoueurDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mdp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pseudo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoueurDto" nillable="true" type="tns:JoueurDto" />
  <xs:complexType name="ArrayOfJoueurStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JoueurStateDto" nillable="true" type="tns:JoueurStateDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJoueurStateDto" nillable="true" type="tns:ArrayOfJoueurStateDto" />
  <xs:complexType name="JoueurStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="NbCartes" type="xs:int" />
      <xs:element minOccurs="0" name="NbDes" type="xs:int" />
      <xs:element minOccurs="0" name="Pseudo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoueurStateDto" nillable="true" type="tns:JoueurStateDto" />
</xs:schema>